.cx-mini-cart {

  &__icon {
    color: var(--cx-color-white);
 
  }

  &__a{
    display: flex;
    flex-direction: unset;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none!important;
  }

  &__p{
    margin: 0;
    padding-left: 10px;
    color: var(--cx-color-white);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding-top: 4px;

    @media screen  and (max-width: 991px){
     display: none;
      
    }
  }
}