<div class="container cx-register">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 cx-register__sesion">
      <p>Proceso de pago</p>
      <h1>Regístrate</h1>
      <form>
        <div class="form-group">
          <input type="text" class="form-control cx-register__sesion--input " id="nomeUser" aria-describedby="emailHelp"
            placeholder="Nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control cx-register__sesion--input " id="apelidoUser" placeholder="Apellido">
        </div>
        <div class="form-group">
          <input type="email" class="form-control cx-register__sesion--input " id="emailUser"
            placeholder="Correo electrónico">
        </div>
        <div class="form-group">
          <input type="password" class="form-control cx-register__sesion--input " id="contrasenaUser"
            placeholder="Contraseña">
        </div>
        <div>
          <p class="cx-register__sesion--contrasena"> Mínimo 6 caracteres, con una mayúscula, una minúscula y un
            número
          </p>
        </div>
        <div class="container">
          <div class="row cx-register__sesion--row">
            <div class="col-md-6">
              <label class="radio-inline"><input type="radio" name="optradio" checked><span
                  class="cx-register__sesion--row-text">Soy Mujer</span></label>
            </div>
            <div class="col-md-6">
              <label class="radio-inline"><input type="radio" name="optradio"><span
                  class="cx-register__sesion--row-text">Soy hombre</span></label>
            </div>
          </div>
        </div>

        <button type="submit" class="btn cx-register__sesion--btn ">Iniciar sesión</button>
      </form>

    </div>
    <div class="col-lg-4 col-md-12 cx-register__ingresar">
      <div class="container">
        <h1> ¿Tienes cuenta? Ingresa ahora </h1>

        <button type="submit" class="btn cx-register__ingresar-btn">Ingresar con mi cuenta</button>
      </div>
    </div>

  </div>
</div>