<div class="container cx-info-consultant__container">
  <div class="row">
    <div class="col-md-3 col-3">
      <div>
        <img class="cx-info-consultant__img" src="https://pbs.twimg.com/media/DzKfUMMX0AEBu75.jpg">
      </div>
    </div>
    <div class="col-md-9 col-9 cx-info-consultant__col">
      <h1 class="cx-info-consultant__h1">
        Carmencita <i class="material-icons cx-info-consultant__icon">
          error_outline
        </i>
      </h1>
      <p class="cx-info-consultant__p">
        Mi Tienda Virtual de belleza
      </p>
    </div>
  </div>
</div>