.cx-login {
  &__sesion {
    background: var(--cx-color-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.88rem;
    max-width: 41rem;

    @media screen and (max-width: 1200px) {
      max-width: 37.5rem;
    }

    @media screen and (max-width: 991px) {
      display: block;
      max-width: 100%;
    }

    p {
      font-size: 0.75rem;
      color: #808080;
      font-weight: normal;
      line-height: 0.875rem;

    }

    a {
      font-size: 0.75rem;
      color: #808080;
      font-weight: normal;
      line-height: 0.875rem;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5rem;
    }

    &--box {
      width: 25.625rem;
      padding: 2rem;

      @media screen and (max-width: 991px) {
        width: 100%;
        padding: 0;
      }
    }




    &--input {
      border: 0;
      border-bottom: 0.0625rem solid var(--cx-color-gray);
      border-radius: 0;
      margin-top: 1.25rem;
      padding-left: 0.1875rem;
      font-size: 0.75rem;
      color: var(--cx-color-gray);
    }

    &--contrasena {
      cursor: pointer;
    }

    &--reset {
      text-align: right;
    }

    &--btn {
      background: #C8C8C8;
      color: var(--cx-color-gray);
      font-size: 0.75rem;
      line-height: 0.875rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.0625rem;
      width: 100%;
      border-radius: 0.125rem;
      cursor: pointer;

      &:hover {
        background: var(--cx-color-text);
        color: var(--cx-color-white);
      }
    }

    button:not(:disabled),
    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled) {
      background: var(--cx-color-text);
      color: var(--cx-color-white);

    }

    @media screen and (max-width: 991px) {
      padding: 0;
    }

    @media screen and (max-width: 576px) {
      padding: 0.625rem;
    }
  }


  .cx-login__registrarme {
    background: var(--cx-color-white);
    margin-top: 1.875rem;
    margin-left: 1rem;
    max-width: 20rem;
    height: 100%;


    @media screen and (max-width: 991px) {
      max-width: 100%;
      margin: 0;
    }


    h1 {
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.25rem;
      color: var(--cx-color-text);
      padding-top: 1.375rem;
    }

    .cx-login__registrarme--info {
      padding: 0.875rem 0;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: var(--cx-color-gray);

      p {
        margin: 0;
        padding-bottom: 0.3125rem;
      }

      i {
        color: var(--cx-color-success);
      }

    }

    .cx-login__registrarme--btn {
      background: var(--cx-color-white);
      color: var(--cx-color-text);
      border: 0.0625rem solid var(--cx-color-text);
      font-size: 0.75rem;
      line-height: 0.875rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.0625rem;
      width: 100%;
      border-radius: 0.125rem;
      margin-bottom: 1.25rem;

      &:hover {
        background: var(--cx-color-text);
        color: var(--cx-color-white);
      }
    }

    @media screen and (max-width: 991px) {
      margin-left: 0;
      padding: 0;
      width: 100%;

      .container {
        padding: 0;
      }

    }

    @media screen and (max-width: 576px) {
      padding: 0.625rem;
    }


  }

  .form-control:focus {
    background-color: var(--cx-color-white);
  }
}

app-belcorp-login-form {
  max-width: 62rem;
}

.AccountPageTemplate cx-page-slot,
.LoginPageTemplate cx-page-slot {
  padding: 0;
}
