<div class="container cx-login">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 cx-login__sesion">
      <div class="cx-login__sesion--box">
        <p>{{ 'loginForm.pago' | cxTranslate }}</p>
        <h1>{{ 'loginForm.signIn' | cxTranslate }}</h1>

        <form (submit)="login()" [formGroup]="form">
          <div class="form-group">
            <label>
              <mat-form-field class="cx-register__session--input">
                <input matInput type="email" [class.is-invalid]="
              form.controls['userId'].invalid && (form.controls['userId'].touched || form.controls['userId'].dirty)
            " formControlName="userId" placeholder="{{ 'loginForm.emailAddress.placeholder' | cxTranslate }}" />
              </mat-form-field>
            </label>
            <div class="invalid-feedback" *ngIf="
                form.controls['userId'].invalid && (form.controls['userId'].touched || form.controls['userId'].dirty)
              ">
              <span>{{ 'loginForm.wrongEmailFormat' | cxTranslate }}</span>
            </div>
          </div>
          <div class="form-group">
            <label>
              <mat-form-field class="cx-register__session--input">

                <input matInput [type]="!hide ? 'password' : 'text'"
                  placeholder="{{ 'loginForm.password.placeholder' | cxTranslate }}" formControlName="password" />
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </label>
          </div>

          <p class="cx-login__sesion--reset">
            <a [routerLink]="{ cxRoute: 'forgotPassword' } | cxUrl" aria-controls="reset-password">
              <u>{{ 'loginForm.forgotPassword' | cxTranslate }}</u>
            </a>
          </p>

          <button type="submit" class="btn btn-block cx-login__sesion--btn" [disabled]="form.invalid">
            {{ 'loginForm.signIn' | cxTranslate }}
          </button>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 cx-login__registrarme">
      <h1>{{ 'loginForm.noAccount.register' | cxTranslate }}</h1>
      <div class="cx-login__registrarme--info">
        <p><i class="fas fa-check-circle"></i> {{ 'loginForm.noAccount.notify' | cxTranslate }}</p>
        <p><i class="fas fa-check-circle"></i> {{ 'loginForm.noAccount.finish' | cxTranslate }}</p>
        <p><i class="fas fa-check-circle"></i> {{ 'loginForm.noAccount.consult' | cxTranslate }}</p>
      </div>

      <ng-container *ngIf="!loginAsGuest">
        <button [routerLink]="{ cxRoute: 'register' } | cxUrl" class="btn cx-login__registrarme--btn">
          {{ 'loginForm.register' | cxTranslate }}
        </button>
      </ng-container>

      <ng-container *ngIf="loginAsGuest">
        <button [routerLink]="{ cxRoute: 'checkoutLogin' } | cxUrl" class="btn  cx-login__registrarme--btn">
          {{ 'loginForm.guestCheckout' | cxTranslate }}
        </button>
      </ng-container>
    </div>
  </div>
</div>