<div class="container cx-login">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 cx-login__sesion">
      <p>Proceso de pago</p>
      <h1>Inicia sesión</h1>
      <form>
        <div class="form-group">
          <input type="email" class="form-control cx-login__sesion--input " id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
          <input type="password" class="form-control cx-login__sesion--input " id="exampleInputPassword1"
            placeholder="Contraseña">
        </div>
        <div>
          <p class="cx-login__sesion--contrasena float-right"><u>¿Olvidaste tu contraseña? </u></p>
        </div>
        <button type="submit" class="btn cx-login__sesion--btn">Iniciar sesión</button>
      </form>

    </div>
    <div class="col-lg-4 col-md-12 cx-login__registrarme">
      <div class="container">
        <h1> ¿No tienes cuenta? Regístrate y podrás: </h1>
        <div class="cx-login__registrarme--info">
          <p>
            <i class="fas fa-check-circle"></i> Notificarte sobre los estados de compra
          </p>
          <p>
            <i class="fas fa-check-circle"></i> Finalizar tus pedidos más rápido
          </p>
          <p>
            <i class="fas fa-check-circle"></i> Consultar tu historial de pedidos
          </p>
        </div>
        <button type="submit" class="btn cx-login__registrarme--btn">Registrarme</button>
      </div>
    </div>

  </div>
</div>