<div class="container cx-consultant-info__container">
  <div class="row">
    <div class="col-md-3 col-5">
      <img class="cx-consultant-info__img" src="https://pbs.twimg.com/media/DzKfUMMX0AEBu75.jpg">
      <div class="cx-consultant-info__pais">
        <img class="cx-consultant-info__pais--img" src="../../../../assets/images/peru.png">
        <p class="cx-consultant-info__pais--p"> Perú</p>
      </div>
    </div>
    <div class="col-md-9 col-7 cx-consultant-info__info">
      <h1 class="cx-consultant-info__info--h1">Carmencita</h1>
      <h2 class="cx-consultant-info__info--h2">Tienda Virtual de Carmen Estefania</h2>
      <div class="row cx-consultant-info__info--telefono">
        <div class="col-md-4 cx-consultant-info__info--border">
          <i class="material-icons cx-consultant-info__info--icon">
            call
          </i> <span class="cx-consultant-info__info--tel">953 019 033</span>
        </div>
        <div class="col-md-6 cx-consultant-info__info--mobile">
          <i class="fab fa-leanpub cx-consultant-info__info--icon"></i> <span class="
            cx-consultant-info__info--tel">Catálogo Digital</span>
        </div>
      </div>
      <h1 class="cx-consultant-info__info--h2">Bienvenida a mi tienda virtual, donde podrás encontrar todos los
        maravillosos productos de Ésika, L’Bel y Cyzone.</h1>
    </div>
  </div>
</div>



<div class="cx-customer" *ngIf="showMe">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 cx-consultant__display">
        <img src="../../../assets/images/consultant.jpeg">
      </div>
      <div class="col-lg-5 col-md-12 cx-customer__select--margin">
        <h1>Encuentra a tu consultora</h1>
        <section *ngIf="!loading">
          <p>Selecciona el medio de búsqueda</p>
          <div class="cx-customer__warning" *ngIf="warning">
            <p>Lo sentimos, no tenemos resultados de tu búsqueda. Revisa los datos que ingresaste y vuelve a
              intentarlo.
            </p>
          </div>
          <mat-accordion>
            <mat-expansion-panel class="cx-customer__select">
              <mat-expansion-panel-header>
                <mat-panel-title class="cx-customer__select--text">
                  <mat-radio-button class="cx-customer__radio">Dados Personales</mat-radio-button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="searchConsultantFormPerson">
                <div class="form-group">
                  <label>
                    <mat-form-field class="cx-register__session--input">
                      <input matInput type="text" name="firstname" formControlName="firstname"
                        placeholder="{{ 'register.firstName.placeholder' | cxTranslate }}" required />
                    </mat-form-field>
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    <mat-form-field class="cx-register__session--input">
                      <input matInput type="text" name="lastname" formControlName="lastname"
                        placeholder="{{ 'register.lastName.placeholder' | cxTranslate }}" required />
                    </mat-form-field>
                  </label>
                </div>
                <mat-form-field class="example-full-width">
                  <mat-label>Distrito</mat-label>
                  <mat-select name="distrito" formControlName="distrito">
                    <mat-option *ngFor="let forStates of forState" [value]="forStates.code">
                      {{forStates.geographical_unit_2}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="button" [disabled]="searchConsultantFormPerson.invalid" (click)="submitPersonales()"
                  class="btn btn-block cx-customer__select--btn">
                  Buscar consultora
                </button>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel class="cx-customer__select">
              <mat-expansion-panel-header>
                <mat-panel-title class="cx-customer__select--text">
                  <mat-radio-button class="cx-customer__radio"> Código</mat-radio-button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="searchConsultantFormCode">
                <div class="form-group">
                  <label>
                    <mat-form-field class="cx-register__session--input">
                      <input matInput type="text" name="code" formControlName="code" placeholder="Código" />
                    </mat-form-field>
                  </label>
                </div>
                <button type="button" (click)="submitCode()" [disabled]="searchConsultantFormCode.invalid"
                  class="btn btn-block cx-customer__select--btn">
                  Buscar consultora
                </button>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel class="cx-customer__select">
              <mat-expansion-panel-header>
                <mat-panel-title class="cx-customer__select--text">
                  <mat-radio-button class="cx-customer__radio">Celular</mat-radio-button>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form [formGroup]="searchConsultantFormPhone">
                <div class="form-group">
                  <label>
                    <mat-form-field class="cx-register__session--input">
                      <input matInput type="tel" name="phone" formControlName="phone" placeholder="Celular" />
                    </mat-form-field>
                  </label>
                </div>
                <button type="button" (click)="submitPhone()" [disabled]="searchConsultantFormPhone.invalid"
                  class="btn btn-block cx-customer__select--btn">
                  Buscar consultora
                </button>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
        </section>
        <section *ngIf="loading" class="cx-consultant__section">
          <mat-spinner class="cx-consultant__circle"></mat-spinner>
          <p>Espera un momento, estamos buscando tu consultora.</p>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="cx-consultant" *ngIf="!showMe">
  <div class="container">
    <div>
      <h1>Encuentra a tu consultora</h1>
      <div class="cx-consultant__select">
        <h2 class="cx-consultant__select--text">{{consultProfile.length}} consultora selecionada </h2>
      </div>
      <p>Selecciona la tienda de la consultora que quieres visitar.</p>
    </div>
    <div class="cx-consultant__container">
      <div class="card cx-consultant__card" *ngFor="let consults of consultProfile">
        <div (click)="sentConsultantToHybris(consults.consultant_code, consults.country_iso)">
          <div class="row cx-consultant__card--row">
            <div class="col-sm-3 col-3 col-md-3 col-lg-12">
              <div class="cx-consultant__card--img">
                <img class="card-img-top cx-consultant__card--div" src="https://pbs.twimg.com/media/DzKfUMMX0AEBu75.jpg"
                  alt="Card image cap">
              </div>
            </div>
            <div class="col-sm-9 col-9 col-md-9 col-lg-12 cx-consultant__card--mobile">
              <div class="card-body cx-consultant__card--body">
                <h5 class="card-title card cx-consultant__card--title">{{consults.first_name}}</h5>
                <p class="card-text cx-consultant__card--paragraf">Tienda virtual de {{consults.first_name}}
                  {{consults.middle_name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cx-consultant__search">
      <button (click)="showMeReverse()" class="btn btn-block cx-customer__select--btn">
        Realizar otra búsqueda
      </button>
    </div>
  </div>
</div>