
.cx-customer {
    
  .container {
    max-width: 62rem;

  }
    img {
      width: 30.5rem;
      height: 22.8125rem;
       
       @media screen and (max-width: 991px) {
         width: 100%;
       }
    }
    
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-top: 2.5rem;
    }
  
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.0625rem;
      color: #808080;
      padding-top:0.625rem;
      }
     
     &__select {
       margin-bottom: 0.625rem;
       
  
        &--text {
          padding-top: 0.3125rem;
          font-style: normal;
          font-weight: bold;
          font-size: 0.875rem;
          line-height: 1.0625rem;
  
        }
  
        &--margin{
          margin-bottom: 1.25rem;
  
          @media screen and (max-width: 991px) {
            padding: 0;
            
          }
        }
         
        &--btn {
          background:var(--cx-color-text);
          color: var(--cx-color-white);
          font-size: 0.75rem;
          line-height: 0.875rem;
          font-weight: bold;
          text-align: center;
          letter-spacing: 0.0625rem;
          width: 100%;
          border-radius: 0.125rem;
          cursor: pointer;
    
         }
        
     } 
      
     
     .mat-expansion-indicator {
      display: none;
     }
  
     .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
      background: var(--cx-color-white);
     }
  
     .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color:var(--cx-color-text);
     }
  
     .mat-radio-button.mat-accent .mat-radio-inner-circle {
       background-color: var(--cx-color-text);
     }
  }
  
  .cx-consultant {
    margin-top:3.125rem;
    border-top:0.125rem solid var(--cx-color-text);
  
    &__display{
      
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
  
    &__select{
      
      width: 11.1875rem;
      height: 1.5rem;
      background: #C4C4C4;
      border-radius: 1.25rem;
      margin-bottom: 0.75rem;
    
      &--text { 
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 0.625rem;
      line-height: 0.75rem;
      text-transform: uppercase;
      color:var(--cx-color-white);
      padding-top: 0.3125rem;
      text-align: center;
  
      }
    }
  
    &__card {
      width: 20rem;
      margin-bottom: 1.875rem;
  
      @media screen and (max-width: 991px) {
        width: 100%;
        
      }
  
      &--img {
      padding-top: 0.625rem;
      margin: 0 auto;
      width: 50%;
      text-align: center;
      }
  
      &--div{
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      }
  
      &--title{
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.1875rem;
      text-align: center;
      color: var(--cx-color-text);
      border: 0;
      margin:0;
      }
  
      &--paragraf{
        text-align: center;
        padding:0;
      }
  
    } 
  
    &__search {
      margin: 0 auto;
      width: 20rem;
      text-align: center;
  
      @media screen and (max-width: 991px) {
        width: 100%;
        
      }
    }
  
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-top: 2.5rem;
      margin-bottom: 1.25rem;
    }
  
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.0625rem;
      color: #808080;
      padding-top:0.625rem;
      }
    
  }