.cx-searchbox {
  background: var(--cx-color-white);
  color: var (--cx-color-text);
  width: 488px;
   height: 34px;
  border-radius: 2px;
  margin: 0;


  @media screen and (max-width: 991px) {
    width: 100%;
    background: transparent;
  }

  &__icon {
     color: #000!important;
     cursor: pointer;

     @media screen and (max-width: 991px) {
      color: #fff!important;
    }
   }

 &__input {
    width: 450px;
    height: 34px;
     padding-left: 16px;
    border: 0;
    font-size: 12px;
    @media screen and (max-width: 991px) {
      width: auto;
    }
   }
 }

 label.cx-searchbox.dirty .search {
   display:none;
 }

 label.cx-searchbox.dirty .reset {
  display:inline-block;
}

label.cx-searchbox .reset {
  display:none;
}

 .cx-suggestions {
   flex-wrap: wrap;
   background: white;


   &__title {
     background: #D8D8D8;
     width: 488px;
      height: 30px;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }


    &__busqueda {
      display: none;
      background: #D8D8D8;
      width: 488px;
       height: 30px;
       @media screen and (max-width: 991px) {
        width: 100%;
      }
       
     }

   &__a {
    width: 100%;
    padding-left: 10px;
    color: #000;
    font-size: 12px;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid grey;
   }

   &__h1 {
    padding-top: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 12px;

   }
 }

 

.cx-searchbox.dirty .cx-suggestions .cx-suggestions__busqueda {
   display: block;
 }

 .cx-product {
  
   &__row {
    margin: 0;
    background: white;
    border: 1px solid blue;

     app-belcorp-media {
      padding-left: 12px;
      border: 1px solid rebeccapurple;
            
           img {
             width: 72px!important;
             height: 72px!important;
           }
       
     }
   }


 }

 input {
	outline: none;
}

@media screen and (max-width: 991px) {

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
  padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
  cursor: pointer;
  background: transparent;
}

 input[type=search]:focus {
	width: px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

 input::-webkit-input-placeholder {
	color: transparent;
}
}