.cx-searchbox {
  background: var(--cx-color-white);
  color: var (--cx-color-text);
  width: 488px;
   height: 34px;
  border-radius: 2px;
  margin: 0;

  &__icon {
     color: #000!important;
     cursor: pointer;
   }

 &__input {
    width: 450px;
    height: 34px;
     padding-left: 16px;
    border: 0;
    font-size: 12px;
   }
 }

 label.cx-searchbox.dirty .search {
   display:none;
 }

 label.cx-searchbox.dirty .reset {
  display:inline-block;
}

label.cx-searchbox .reset {
  display:none;
}

 .cx-suggestions {
   flex-wrap: wrap;
   background: white;


   &__title {
     background: #D8D8D8;
     width: 488px;
      height: 30px;
    }


    &__busqueda {
      background: #D8D8D8;
      width: 488px;
       height: 30px;
       
     }

   &__a {
    width: 100%;
    padding-left: 10px;
    color: #000;
    font-size: 12px;
    display: block;
    font-size: 12px;
    border-bottom: 1px solid grey;
   }

   &__h1 {
    padding-top: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 12px;

   }
 }

 

.cx-searchbox.dirty .cx-suggestions .cx-suggestions__busqueda {
   display: block;
 }

 .cx-product {
  
   &__row {
    margin: 0;
    background: white;
    border: 1px solid blue;

     app-belcorp-media {
      padding-left: 12px;
      border: 1px solid rebeccapurple;
            
           img {
             width: 72px!important;
             height: 72px!important;
           }
       
     }
   }


 }

