<section class="cx-page-section container cx-register" *ngIf="!(loading$ | async); else loading">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 cx-register__session">
      <div class="cx-register__session--box">
        <p>Proceso de pago</p>
        <h1>Regístrate</h1>
        <div class="cx-section">
          <form [formGroup]="userRegistrationForm">
            <!-- <div class="form-group">
              <label>
                <span class="label-content">{{ 'register.title' | cxTranslate }}</span>
                <select formControlName="titleCode" class="form-control">
                  <option selected value="" disabled>{{ 'register.selectTitle' | cxTranslate }}</option>
                  <option *ngFor="let title of titles$ | async" [value]="title.code">{{ title.name }}</option>
                </select>
              </label>
            </div> -->

            <div class="form-group">
              <label>
                <mat-form-field>
                  <input matInput type="text" name="firstname" placeholder="Nombre" formControlName="firstName" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field>
                  <input matInput type="text" name="lastname" placeholder="Apellido" formControlName="lastName" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field>
                  <input matInput [class.is-invalid]="
                      userRegistrationForm.get('email').errors &&
                      (userRegistrationForm.get('email').errors['email'] ||
                        userRegistrationForm.get('email').errors['InvalidEmail']) &&
                      userRegistrationForm.get('email').dirty
                    " type="email" name="email" placeholder="Correo electrónico" formControlName="email" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field>
                  <input matInput [class.is-invalid]="
                      userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').dirty
                    " type="password" name="password" placeholder="Contraseña" formControlName="password" />
                </mat-form-field>
                <div class="invalid-feedback"
                  *ngIf="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').dirty">
                  <span>{{ 'register.passwordMinRequirements' | cxTranslate }}</span>
                </div>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field>
                  <input matInput [class.is-invalid]="
                      userRegistrationForm.get('password').value !== userRegistrationForm.get('passwordconf').value
                    " type="password" name="confirmpassword" placeholder="Confirmar contraseña"
                    formControlName="passwordconf" />
                </mat-form-field>
                <div class="invalid-feedback" *ngIf="
                      userRegistrationForm.get('password').value !== userRegistrationForm.get('passwordconf').value &&
                      userRegistrationForm.get('passwordconf').value
                    ">
                  <span>{{ 'register.bothPasswordMustMatch' | cxTranslate }}</span>
                </div>
              </label>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label>
                  <input type="checkbox" name="termsandconditions" formControlName="termsandconditions"
                    class="cx-register__session--term" />
                  <span class="cx-register__session--term-link">
                    Al crear una cuenta estás aceptando los
                    <a [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl" target="_blank">
                      Términos y Condiciones
                    </a>
                  </span>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label>
                  <input type="checkbox" name="newsletter" class="form-check-input" formControlName="newsletter"
                    class="cx-register__session--term" />
                  <span class="cx-register__session--term-link">
                    Acepto el documento de autorización de envío de publicidad
                  </span>
                </label>
              </div>
            </div>

            <button type="submit" (click)="submit()" [disabled]="userRegistrationForm.invalid"
              class="btn btn-block cx-register__session--btn">
              Regístrate
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 cx-register__ingresar">
      <h1> ¿Tienes cuenta? Ingresa ahora </h1>

      <button type="submit" class="btn cx-register__ingresar--btn" [routerLink]="{ cxRoute: 'login' } | cxUrl">
        Ingresar con mi cuenta</button>

    </div>
  </div>
</section>

<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
