<section class="cx-page-section container cx-register" *ngIf="!(loading$ | async); else loading">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 cx-register__session">
      <div class="cx-register__session--box">
        <p>{{ 'register.pago' | cxTranslate }}</p>
        <h1>{{ 'register.register' | cxTranslate }}</h1>
        <div class="cx-section">
          <form [formGroup]="userRegistrationForm">
            <div class="form-group">
              <label>
                <mat-form-field class="cx-register__session--input">
                  <input matInput type="text" name="firstname" [class.is-invalid]="
                  userRegistrationForm.get('firstName').errors &&
                   userRegistrationForm.get('firstName').errors['InvalidName'] &&
                  userRegistrationForm.get('firstName').dirty
                " placeholder="{{ 'register.firstName.placeholder' | cxTranslate }}" formControlName="firstName" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field class="cx-register__session--input">
                  <input matInput type="text" name="lastname" [class.is-invalid]="
                  userRegistrationForm.get('lastName').errors &&
                   userRegistrationForm.get('lastName').errors['InvalidName'] &&
                  userRegistrationForm.get('lastName').dirty
                " placeholder="{{ 'register.lastName.placeholder' | cxTranslate }}" formControlName="lastName" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field class="cx-register__session--input">
                  <input matInput [class.is-invalid]="
                userRegistrationForm.get('email').errors &&
                (userRegistrationForm.get('email').errors['email'] ||
                userRegistrationForm.get('email').errors['InvalidEmail']) &&
                userRegistrationForm.get('email').dirty
                " type="email" name="email" placeholder="{{ 'register.emailAddress.placeholder' | cxTranslate }}"
                    formControlName="email" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field class="cx-register__session--input">
                  <input matInput type="tel" mask='XXX-XXX-XXX'
                    placeholder="{{ 'register.phone.placeholder' | cxTranslate }}" name="phone"
                    formControlName="phone" />
                </mat-form-field>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field class="cx-register__session--input">
                  <input matInput [class.is-invalid]="
                  userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').dirty
                  " type="password" name="password" placeholder="{{ 'register.password.placeholder' | cxTranslate }}"
                    formControlName="password" />
                </mat-form-field>
                <div class="invalid-feedback"
                  *ngIf="userRegistrationForm.get('password').invalid && userRegistrationForm.get('password').dirty">
                  <span>{{ 'register.passwordMinRequirements' | cxTranslate }}</span>
                </div>
              </label>
            </div>

            <div class="form-group">
              <label>
                <mat-form-field class="cx-register__session--input">
                  <input matInput [class.is-invalid]="
                  userRegistrationForm.get('password').value !== userRegistrationForm.get('passwordconf').value
                  " type="password" name="confirmpassword"
                    placeholder="{{ 'register.confirmNewPassword' | cxTranslate }}" formControlName="passwordconf" />
                </mat-form-field>
                <div class="invalid-feedback" *ngIf="
                          userRegistrationForm.get('password').value !== userRegistrationForm.get('passwordconf').value &&
                          userRegistrationForm.get('passwordconf').value
                          ">
                  <span>{{ 'register.bothPasswordMustMatch' | cxTranslate }}</span>
                </div>
              </label>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label>
                  <input type="checkbox" name="termsandconditions" formControlName="termsandconditions"
                    class="cx-register__session--term" />
                  <span class="cx-register__session--term-link">
                    {{ 'register.termsAndConditions' | cxTranslate }}
                    <a [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl" target="_blank">
                      {{ 'register.termsAndConditionsLink' | cxTranslate }}
                    </a>
                  </span>
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label>
                  <input type="checkbox" name="newsletter" class="form-check-input" formControlName="newsletter"
                    class="cx-register__session--term" />
                  <span class="cx-register__session--term-link">
                    {{ 'register.emailMarketing' | cxTranslate }}
                  </span>
                </label>
              </div>
            </div>

            <button type="submit" (click)="submit()" [disabled]="userRegistrationForm.invalid"
              class="btn btn-block cx-register__session--btn">
              {{ 'register.register' | cxTranslate }}
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 cx-register__ingresar">
      <h1> {{ 'register.ingresar.text' | cxTranslate }}</h1>

      <button type="submit" class="btn cx-register__ingresar--btn" [routerLink]="{ cxRoute: 'login' } | cxUrl">
        {{ 'register.ingresar.ingresarBtn' | cxTranslate }}</button>

    </div>
  </div>
</section>

<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>