<cx-storefront></cx-storefront>

<ng-template cxOutletRef="ReturningCustomerLoginComponent" cxOutletPos="replace">
  <app-belcorp-login-form></app-belcorp-login-form>
</ng-template>

<ng-template cxOutletRef="RegisterCustomerComponent" cxOutletPos="replace">
  <app-belcorp-register></app-belcorp-register>
</ng-template>

<ng-template cxOutletRef="BreadcrumbComponent">
</ng-template>

<ng-template cxOutletRef="PDP.PRICE" cxOutletPos="before" let-product>
  {{product.product.brand}}
  <div *ngFor="let item of product.product.tips">
    <div>{{item.title}}</div>
    <div>{{item.description}}</div>
    <img [src]="item.urlImage" style="width: 50px;" />
  </div>

  <div *ngFor="let item of product.product.descubreMas">
    <div>{{item.title}}</div>
    <div>{{item.description}}</div>
  </div>
</ng-template>
