<cx-storefront></cx-storefront>

<ng-template cxOutletRef="ReturningCustomerLoginComponent" cxOutletPos="replace">
  <ng-template cxOutletRef="BreadcrumbComponent"></ng-template>
  <app-belcorp-login-form></app-belcorp-login-form>
</ng-template>
<ng-template cxOutletRef="ForgotPasswordComponent" cxOutletPos="replace">
  <app-belcorp-password></app-belcorp-password>
</ng-template>
<ng-template cxOutletRef="RegisterCustomerComponent" cxOutletPos="replace">
  <ng-template cxOutletRef="BreadcrumbComponent"></ng-template>
  <app-belcorp-register></app-belcorp-register>
</ng-template>
<ng-template cxOutletRef="AccountAddressBookComponent" cxOutletPos="replace">
  <ng-template cxOutletRef="BreadcrumbComponent"></ng-template>
  <app-belcorp-address-book></app-belcorp-address-book>
</ng-template>


<ng-template cxOutletRef="BelcorpSearchConsultantComponent" cxOutletPos="replace">
  <ng-template cxOutletRef="BreadcrumbComponent"></ng-template>
  <app-belcorp-search-consultant></app-belcorp-search-consultant>
</ng-template>
<ng-template cxOutletRef="MiniCartComponent">
  <app-belcorp-mini-cart></app-belcorp-mini-cart>
</ng-template>
<ng-template cxOutletRef="ProductVariantSelectorComponent"></ng-template>
<ng-template cxOutletRef="CookieNotificationComponent"></ng-template>
<ng-template cxOutletRef="AnonymousConsentManagementComponent"></ng-template>

<ng-template cxOutletRef="PDP.PRICE" cxOutletPos="before" let-product>
  {{ product.product.brand }}
  <div *ngFor="let itemVariant of product.product.variantOptions">
    <div>
      <a [href]="itemVariant.url">{{ itemVariant.code }}</a>
      <div *ngFor="let itemVariantAtrr of itemVariant.variantOptionQualifiers">
        <span>{{itemVariantAtrr.qualifier}}</span>
        <span>{{itemVariantAtrr.value}}</span>
      </div>
    </div>
  </div>
  <div *ngFor="let item of product.product.tips">
    <div>{{ item.title }}</div>
    <div>{{ item.description }}</div>
    <img [src]="item.urlImage" style="width: 50px;" />
  </div>

  <div *ngFor="let item of product.product.descubreMas">
    <div>{{ item.title }}</div>
    <div>{{ item.description }}</div>
  </div>
</ng-template>