.cx-password {
    background: var(--cx-color-white);
    padding: 30px;
    margin-top: 20px;

    &__btn {
      background:var(--cx-color-text);
      border-radius: 2px;
      font-size: 12px;
      color: var(--cx-color-white);
      font-weight: bold;
      
       &--padding{
         padding-top:14px;
       }
    }

    
   
}

.label-content {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.reset-password {
  h1 {
    margin: var(--cx-margin, 0);
  }
  button {
    margin: var(--cx-margin, 30px 0 0);
  }
  a {
    margin: var(--cx-margin, 20px 0 0);
  }
}