<div class="cx-password">
  <form (submit)="requestForgotPasswordEmail()" [formGroup]="form">
    <div class="form-group">
      <label>
        <span class="label-content">{{
            'forgottenPassword.emailAddress.label' | cxTranslate
          }}</span>
        <mat-form-field>
          <input matInput type="email" placeholder="{{
              'forgottenPassword.emailAddress.placeholder' | cxTranslate
            }}" formControlName="userEmail" [ngClass]="{
              'is-invalid':
                form.controls['userEmail'].invalid &&
                (submited ||
                  (form.controls['userEmail'].touched &&
                    form.controls['userEmail'].dirty))
            }" />
          <div class="invalid-feedback" *ngIf="
              form.controls['userEmail'].invalid &&
              (submited ||
                (form.controls['userEmail'].touched &&
                  form.controls['userEmail'].dirty))
            ">
            <span>{{ 'forgottenPassword.enterValidEmail' | cxTranslate }}</span>
          </div>
        </mat-form-field>
      </label>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-block cx-password__btn">
          {{ 'common.submit' | cxTranslate }}
        </button>
      </div>
      <div class="col-md-6">
        <a class="btn btn-block cx-password__btn cx-password__btn--padding"
          [routerLink]="{ cxRoute: 'login' } | cxUrl">{{ 'common.cancel' | cxTranslate }}</a>
      </div>
    </div>
  </form>
</div>