// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mystore-primary: mat-palette($mat-indigo);
$mystore-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mystore-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mystore-theme: mat-light-theme($mystore-primary, $mystore-accent, $mystore-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mystore-theme);

@import '~@spartacus/styles/index';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import './app/app.component.scss';


$white: #ffff !default;
$gray-light:#C8C8C8 !default;
$gray-color:#808080 !default;


:root {

  --cx-color-white: #FFFFFF;
  --cs-color-secundary: #000000;
  --cx-color-success: #409F2D;
  --cx-color-danger: #db0002;
  --cx-color-warning: #ffc107;
  --cx-color-info: #1490A8;
  --cx-color-light: #F5F5F5;
  --cx-color-dark: #000000;
  --cx-color-background: #FFFFFF;
  --cx-color-text: #000000;
  --cx-color-gray: #979797;
  --cx-color-orange: #FF9900;
  --cx-color-magenta: #B9007E;
  --cx-color-light-gray: #D1D5DB;
}


body {

  font-family: 'Lato', sans-serif;
  background: var(--cx-color-light);

  @media screen and (max-width: 991px) {
    background: var(--cx-color-white);

  }
}

html,
body {
  height: 100%;
}
